# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*

# Next.js & Build Output
/.next/
/out/
/build
/dist

# TypeScript Build Info (Junk file)
*.tsbuildinfo
next-env.d.ts

# Environment Variables (Keep these secret!)
.env
.env*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# RepoMind Dynamic Data
# We ignore contents, but Git will know the folder exists if you add a .gitkeep later
/temp/*
/public/uploads/*

# Windows & System Files (Junk)
Thumbs.db
.DS_Store

# IDE Files
.vscode/
.idea/

# Docker Volumes (If created locally)
postgres_data/
chromadb_data/
ollama_data/
redis-data/